.footer {
    height: 600px;
    width: 100%;
    background-color: #2d2d2d;
    position: absolute;
    top: 2920px;
    &_basic-text {
        height: 350px;
        width: 450px;
        position: absolute;
        top: 20px;
        left: 60px;
        animation: lefttoright 1s;
        &-1 {
            font-size: 17px;
            color: #f22546;
            font-family: sans-serif;
            margin-top: 50px;
        }
        &-2 {
            font-family: "Grand hotel", sans-serif;
            font-size: 75px;
            color: white;
            line-height: 80px;
        }
    }
    &_basic-para {
        height: 250px;
        width: 450px;
        position: absolute;
        top: 70px;
        left: 660px;
        &-1 {
            font-size: 17px;
            color: white;
            font-family: sans-serif;
            transition: all.4s;
            cursor: pointer;
            &:hover {
                font-size: 19px;
            }
        }
        &-2 {
            font-size: 17px;
            color: white;
            font-family: sans-serif;
            margin-top: 42px;
            transition: all.4s;
            cursor: pointer;
            &:hover {
                font-size: 19px;
            }
        }
    }
    &_last {
        height: 150px;
        width: 1000px;
        position: absolute;
        top: 390px;
        left: 170px;
        &-bulb-1 {
            height: 150px;
            width: 250px;
            text-align: center;
            position: absolute;
            top: 0;
            transition: all 0.3s ease-in;
            &:hover {
                top: -15px;
                border-radius: 25px;
                box-shadow: 0rem 1rem 1rem rgba(255, 254, 254, 0.2);
            }
        }
        &-bulb-2 {
            height: 150px;
            width: 250px;
            text-align: center;
            position: absolute;
            left: 330px;
            top: 0;
            transition: all 0.3s ease-in;
            &:hover {
                top: -15px;
                border-radius: 25px;
                box-shadow: 0rem 1rem 1rem rgba(255, 254, 254, 0.2);
            }
        }
        &-bulb-3 {
            height: 150px;
            width: 250px;
            text-align: center;
            position: absolute;
            left: 660px;
            top: 0;
            transition: all 0.3s ease-in;
            &:hover {
                top: -15px;
                border-radius: 25px;
                box-shadow: 0rem 1rem 1rem rgba(255, 254, 254, 0.2);
            }
        }

        &-text {
            font-size: 17px;
            font-family: sans-serif;
            color: white;
            margin-top: 95px;
        }
    }
    &_icon {
        background-clip: text;
        font-size: 75px;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #fc2547 0%, #ff5a00 50%, yellow 100%);
        position: absolute;
        top: 10px;
        left: 95px;
    }
}
