$dark-gray:#2B2B2B;
$color-gray:gray;
$color-white:#fff;
$light-black:#1D1D1D;
$color-light-gray:rgb(192,190,190);
$light-black-2:#2D2D2D;
$color-gray-2:#595959;
$color-pink:#fC2547;
$color-orange:#ff5a00;
$color-yellow:yellow;
$color-dark-black:#0D0D0D;
$color-dark-pink:#F22546;
$color-black:black;
$color-light-green:#28b485;